<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gray Memorial Hospital</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/2a4ce623b7.js" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <header class="hero is-link">
      <section class="hero-body is-flex is-justify-content-space-between">
        <p class="title is-size-1">
          <span role="img" aria-label="medicalIcon" class="mr-3">🏥</span>
<<<<<<< HEAD
          <span>   Grey Memorial Hospital</span>
=======
          <a href="/">Grey Memorial Hospital</a>
>>>>>>> a2112140fa150542ad130a1b18646f8c9f49d97b
        </p>
        {{#if logged_in}}
          <a id="logout" class="title is-size-2">Logout</a>
        {{/if}}
      </section>
    </header>

    <section>
      {{{ body }}}
    </section>

    {{#if logged_in}}
      <script src="./js/logout.js"></script>
    {{/if}}
  </body>
</html>
