<section>
    <article class="mt-4"> 
        <h1 class="title has-text-centered">Welcome Dr. {{lastName}}!</h1> 
    </article>
    
    <main class ="columns mt-3">
      <div class="column is-4 is offset-1">
        <section class="panel is-info">
          <p class="panel-heading">
            Patient Info
          </p>
          <p class="panel-tabs">
            <a class="is-active">All</a>
            <a>Adults</a>
            <a>Children</a>
            <a>Infants</a>
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-info" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Test Box
          </a>
          {{#each patients as |patient|}}
          <a class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            bulma
          </a>
          {{/each}}
        </section>
      </div>
    </main> 
  </section>

<script src="./js/doctorView.js"></script>