<section class="mt-4"> 
    <h1 class="title has-text-centered">Welcome firstName lastName!</h1> 
</section>

<main class="columns mt-3">
    <section class="column is-4 is-offset-1">
        <table class="table is-bordered">
            <thead class="has-text-centered">Medication Cart</thead>
            <tbody>
                <tr>
                    <td>Medication 1</td>
                    <td>$3.00</td>
                </tr>
                <tr>
                    <td>Medication 2</td>
                    <td>$5.00</td>
                </tr>
                <tr>
                    <td>Medication 3</td>
                    <td>$7.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$15.00</td>
                </tr>                    
            </tbody>

        </table>
    </section>

    <section class="column is-4 is-offset-2">
        
    </section>
</main>